{% extends "contenido/BaseNavBar.html" %} {%block contenido %}
<section class="pregunta-section">
  <h2>Chat</h2>
  <div id="chat-log"></div>
    <label for="predefined-questions">Elija una pregunta frecuente</label>
    <select id="predefined-questions">
        <option value="¿Cómo resetear mi contraseña?">¿Cómo resetear mi contraseña?</option>
        <option value="¿Cómo actualizar mi perfil?">¿Cómo actualizar mi perfil?</option>
    </select>
    <input id="chat-message-input" type="text" size="100" placeholder="Escribe tu pregunta aquí...">
    <button id="chat-message-submit">Enviar</button> 
{%endblock contenido %}
<script>
  const chatLog = document.getElementById('chat-log');
  const chatInput = document.getElementById('chat-message-input');
  const chatButton = document.getElementById('chat-message-submit');
  const predefinedQuestions = document.getElementById('predefined-questions');

  var socket = new WebSocket('ws://' + window.location.host + '/ws/chat/');

  predefinedQuestions.onchange = function() {
      if (this.value) {
          socket.send(JSON.stringify({'message': this.value, 'es_predefinida': true}));
          this.selectedIndex = 0;  // Reset the dropdown
      }
  };

  chatButton.onclick = function() {
      if (chatInput.value) {
          socket.send(JSON.stringify({'message': chatInput.value, 'es_predefinida': false}));
          chatInput.value = '';
      }
  };

  socket.onmessage = function(e) {
      const data = JSON.parse(e.data);
      const message = document.createElement('div');
      message.textContent = data.message;
      chatLog.appendChild(message);
  };
</script>