{% extends "contenido/BaseNavBar.html" %} {%block contenido %}
  <div class="container chat-container">
    <div clas="row">
      <section class="pregunta-section ">
        <h2>Chat</h2>
        <div id="chat-log"></div>
          <label for="predefined-questions">Elija una pregunta frecuente</label>
          <select id="predefined-questions">
              <option value="">Selecciona...</option>
              {% for pregunta in preguntas %}
                <option value ="{{pregunta.mensaje}}">{{ pregunta.mensaje }}</option>
              {% endfor %}
          </select>
          <input id="chat-message-input" type="text" size="100" placeholder="Escribe tu pregunta aquí...">
          <button id="chat-message-submit">Enviar</button> 
        </section>
    </div>
  </div>
{%endblock contenido %}


<script>
  const chatLog = document.getElementById('chat-log');
  const chatInput = document.getElementById('chat-message-input');
  const chatButton = document.getElementById('chat-message-submit');
  const predefinedQuestions = document.getElementById('predefined-questions');
  
  var socket = new WebSocket('ws://' + window.location.host + '/ws/chat/');
  
  // Manejo de selección de preguntas predefinidas
  predefinedQuestions.onchange = function() {
      if (this.value) {
          // Enviar la pregunta predefinida seleccionada
          socket.send(JSON.stringify({
              'message': this.value,
              'es_predefinida': true
          }));
          
          // Limpiar la selección del menú desplegable
          this.selectedIndex = 0;
      }
  };
  
  // Manejo del botón de envío para preguntas personalizadas
  chatButton.onclick = function() {
      if (chatInput.value) {
          // Enviar la pregunta ingresada por el usuario
          socket.send(JSON.stringify({
              'message': chatInput.value,
              'es_predefinida': false
          }));
          
          // Limpiar el campo de entrada
          chatInput.value = '';
      }
  };
  
  // Manejo de mensajes recibidos del servidor
  socket.onmessage = function(e) {
      const data = JSON.parse(e.data);
      const message = document.createElement('div');
      message.textContent = data.message;
      chatLog.appendChild(message);
  };
  </script>
  