{% extends "contenido/BaseNavBar.html" %} {% block titulo %}Panel de
Admin{%endblock titulo %} {% load static %} {% block boton %}
<a class="navbar-brand" href="{% url 'Administrador' %}">
  <img
    src="{% static '/edumocs/images/profile.png' %}"
    width="30"
    height="30"
    class="d-inline-block align-top"
    alt="Admin"
  />
</a>
{% endblock boton %} {% block contenido %}
<main class="container mt-5 pt-5">
  <div class="row">
    <div class="col-md-3 text-center profile-container">
      <img
        src="{% static '/edumocs/images/profile.png' %}"
        alt="Profile Picture"
        class="profile-picture img-thumbnail mb-3"
      />
      <div class="btn-group mb-4">
        <button class="btn btn-custom">Editar</button>
        <button class="btn btn-custom">Ver</button>
      </div>
      <h2>Datos personales</h2>
      <ul class="list-group">
        <li class="list-group-item">
          Nombre completo: <span>{{ usuario_detalles.nombre }}</span>
          <span class="edit-icon">&#x270E;</span>
        </li>
        <li class="list-group-item">
          Correo electrónico:
          <span>{{ usuario_detalles.correo_electronico }}</span>
          <span class="edit-icon">&#x270E;</span>
        </li>
        <li class="list-group-item">
          Número de teléfono:
          <span>{{ usuario_detalles.numero_telefono }}</span>
          <span class="edit-icon">&#x270E;</span>
        </li>
        <li class="list-group-item">
          Fecha de nacimiento:
          <span>{{ usuario_detalles.fecha_nacimiento }}</span>
          <span class="edit-icon">&#x270E;</span>
        </li>
        <li class="list-group-item">
          Nombre de usuario: <span>{{ usuario_detalles.nombre_usuario }}</span>
          <span class="edit-icon">&#x270E;</span>
        </li>
        <li class="list-group-item">
          Género: <span>{{ usuario_detalles.genero }}</span>
          <span class="edit-icon">&#x270E;</span>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th>Clave</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Duración Horas</th>
              <th>Fecha de Inicio</th>
              <th>Fecha de Término</th>
              <th>Costo</th>
              <th>Cupos</th>
              <th>Imagen</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            {% for curso in cursos %}
            <tr>
              <td>{{ curso.id }}</td>
              <td>{{ curso.nombre }}</td>
              <td class="td-width">
                <div class="course-item">{{ curso.descripcion }}</div>
              </td>
              <td>{{ curso.horas }}</td>
              <td>{{ curso.fecha_inicio }}</td>
              <td>{{ curso.fecha_termino }}</td>
              <td>{{ curso.costo }}</td>
              <td>{{ curso.cupos }}</td>
              <td>
                <div class="course-item">
                  <img
                    src="{{ curso.imagen.url }}"
                    alt="Course Image"
                    class="course-img img-thumbnail"
                  />
                </div>
              </td>
              <td>
                <a href="{% url 'ConsultaIndividual' curso.id %}"
                  ><button class="btn btn-edit btn-sm">&#x270E;</button></a
                >
                <a href="{% url 'Eliminar' curso.id %}"
                  ><button class="btn btn-delete btn-sm">&#x1F5D1;</button></a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="text-center">
        <a href="{% url 'Alta' %}"
          ><button class="btn btn-custom">Nuevo Curso</button></a
        >
      </div>
    </div>
  </div>
</main>
{% endblock contenido %}
