{% block navbar %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock titulo %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{%static 'edumocs/css/styles.css'%}">
</head>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{% url 'Inicio' %}">
        <img src="{%static '/edumocs/images/logo.webp'%}" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url "Inicio" %}">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "Acercade" %}">Acerca de nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="{% url "Cursos" %}">Cursos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "Foro" %}">Chat de Ayuda</a>
            </li>
        </ul>
        {% block boton %}
    {% if request.user.is_authenticated %}
        <!-- Mostrar imagen si el usuario tiene la sesión activa -->
        <a class="navbar-brand" href="{% url 'Administrador' %}">
            <img
              src="{% static '/edumocs/images/profile.png' %}"
              width="30"
              height="30"
              class="d-inline-block align-top"
              alt="Admin"
            />
          </a>
    {% else %}
        <!-- Mostrar botón de Acceder si el usuario no ha iniciado sesión -->
        <a href="{% url 'Login' %}">
            <button class="btn btn-outline-light my-2 my-sm-0" type="button">Acceder</button>
        </a>
    {% endif %}
{% endblock boton %}

    </div>  
</nav>


{% endblock navbar %}



{% block contenido %}{% endblock contenido %}

<footer class="footer">
    <p>Obtén el conocimiento y la calidad que necesitas para continuar con tu carrera profesional y lo que necesitas al alcance de un botón. Pre-orden ahora.</p>
    <p>Copyright @ 2024 Edumocs. All rights reserved.</p>
    <div>
        <a href="#"><img src="{%static '/edumocs/images/facebook.png'%}" alt="Facebook" width="30" height="30"></a>
        <a href="#"><img src="{%static '/edumocs/images/twitter.png'%}" alt="Twitter" width="30" height="30"></a>
        <a href="#"><img src="{%static '/edumocs/images/instagram.png'%}" alt="Instagram" width="30" height="30"></a>
    </div>
</footer>